# import numpy as np
import pandas as pd

In [2]:
my_index = ['Physics'] * 3 + ['Engineering Chemistry'] * 3 + ['Object oriented Programming'] * 2 + ['BEEE'] * 2  + ['Calculus'] * 3 + ['Differential Equations'] * 2 + ['Complex and Linear Algebra'] * 2 + ['Discrete and Graph Theory'] * 2

In [3]:
np.random.seed(40)
random_integers1 = np.random.randint(0, 11, 19)

In [4]:
np.random.seed(41)
random_integers2 = np.random.randint(0, 11, 19)

In [5]:
np.random.seed(42)
random_integers3 = np.random.randint(0, 11, 19)

In [6]:
data_one = {'Teacher Name': ['Parthiban', 'Anuradha C', 'Kaushik Chanda', 'Harshita Patel', 'Rani C', 'Suganya P', 'Kavitha A', 'Akella Venkata Suryanaryan Murthy', 'Venkateshwarlu', 'nanavignesh', 'Parthiban', 'Kaushik Chanda', 'Rani C', 'Harshita Patel', 'Suganya P', 'Kavitha A', 'Akella Venkata Suryanaryan Murthy', 'Venkateshwarlu', 'nanavignesh'],'Teaching': random_integers1,'Marks': random_integers2, 'Supportive': random_integers3}

In [7]:
df = pd.DataFrame(data = data_one, index = my_index)
df

,Teacher Name,Teaching,Marks,Supportive
Physics,Parthiban,6,0,6
Physics,Anuradha C,7,3,3
Physics,Kaushik Chanda,5,2,10
Engineering Chemistry,Harshita Patel,8,0,7
Engineering Chemistry,Rani C,8,1,4
Engineering Chemistry,Suganya P,2,3,6
Object oriented Programming,Kavitha A,1,9,9
Object oriented Programming,Akella Venkata Suryanaryan Murthy,7,7,2
BEEE,Venkateshwarlu,2,5,6
BEEE,nanavignesh,3,10,10
Calculus,Parthiban,10,8,10
Calculus,Kaushik Chanda,7,3,7
Calculus,Rani C,3,3,4
Differential Equations,Harshita Patel,9,2,3
Differential Equations,Suganya P,0,6,7
Complex and Linear Algebra,Kavitha A,1,0,7
Complex and Linear Algebra,Akella Venkata Suryanaryan Murthy,5,4,2
Discrete and Graph Theory,Venkateshwarlu,9,6,5
Discrete and Graph Theory,nanavignesh,8,9,4

In [21]:
teach_marks = df['Teaching'] + df['Marks']
teach_supp = df['Teaching'] + df['Supportive']
marks_supp = df['Marks'] + df['Supportive']
teach_marks_supp = df['Teaching'] + df['Marks'] + df['Supportive']

In [22]:
df['teach_marks'] = t_m
df['teach_supp'] = teach_supp
df['marks_supp'] = marks_supp
df['teach_marks_supp'] = teach_marks_supp
df

,Teacher Name,Teaching,Marks,Supportive,t_m,teach_marks,teach_supp,marks_supp,teach_marks_supp
Physics,Parthiban,6,0,6,6,6,12,6,12
Physics,Anuradha C,7,3,3,10,10,10,6,13
Physics,Kaushik Chanda,5,2,10,7,7,15,12,17
Engineering Chemistry,Harshita Patel,8,0,7,8,8,15,7,15
Engineering Chemistry,Rani C,8,1,4,9,9,12,5,13
Engineering Chemistry,Suganya P,2,3,6,5,5,8,9,11
Object oriented Programming,Kavitha A,1,9,9,10,10,10,18,19
Object oriented Programming,Akella Venkata Suryanaryan Murthy,7,7,2,14,14,9,9,16
BEEE,Venkateshwarlu,2,5,6,7,7,8,11,13
BEEE,nanavignesh,3,10,10,13,13,13,20,23
Calculus,Parthiban,10,8,10,18,18,20,18,28
Calculus,Kaushik Chanda,7,3,7,10,10,14,10,17
Calculus,Rani C,3,3,4,6,6,7,7,10
Differential Equations,Harshita Patel,9,2,3,11,11,12,5,14
Differential Equations,Suganya P,0,6,7,6,6,7,13,13
Complex and Linear Algebra,Kavitha A,1,0,7,1,1,8,7,8
Complex and Linear Algebra,Akella Venkata Suryanaryan Murthy,5,4,2,9,9,7,6,11
Discrete and Graph Theory,Venkateshwarlu,9,6,5,15,15,14,11,20
Discrete and Graph Theory,nanavignesh,8,9,4,17,17,12,13,21